html {
	position: relative;
}

div {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	min-height: 100vh;
}

nav {
	position: fixed;
	background: white;
	width: 100vw;
	z-index: 1;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 110px;
	margin: 0 10vw;
}

h2 {
	font-size: 64px;
	font-weight: 900;
	margin: 0;
}

h3 {
	font-size: 28px; 
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 10vw;
}

ul {
	list-style: none;
	line-height: 1.5;
	padding-left: 0;
}

li {
	font-size: 36px;
	font-weight: 500;
}

span {
	background-color: #FFC4B0;
	font-style: italic;
	cursor: url('eye-roll.png'), default;
}

input {
	border: none;
	background: lightgrey;
	padding: 15px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 110px;
	text-indent: 40px;
	caret-color: white;
	caret-border: 2px solid black;
	width: 80vw;
	color: #AC77EE;
}


input::placeholder {
	color: #e9e9e9;
}

input:focus {
	outline: none;
	border: none;
	border-bottom: 10px solid #FFC4B0;
	margin-bottom: 0;
}

li.result {
	margin-left: 40px;
}

.footer {
	background-color: black;
	color: white;
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	padding: 0 10vw;
}

.footer p {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

.footer a {
	text-decoration: underline;
	color: #FFC4B0;
	font-size: 14px;
}

.footer a:hover {
	color: #AC77EE;
	transition: color, .1s;
}

.button {
	font-family: 'Roboto', sans-serif;
	padding: 14px 50px;
	font-size: 18px;
	margin: 50px 0;
	border: 3px solid white;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: rgba(255, 255, 255, 0);
}

.button:hover {
	background: white;
	cursor: pointer;
	transition: background, .2s;
	color: #AC77EE;
}

.button:focus {
	outline: none;
}

.link {
	margin: 10px 0;
	font-size: 36px;
	padding: 12px 14px;
	background: #AC77EE;
	color: white;
	border: none;
	text-transform: none;
	font-weight: 700: 
}

.link:focus {
	outline: none;
}

.link:hover {
	border: 4px solid #AC77EE;
	background: white;
	cursor: pointer;
	color: #AC77EE;
	padding: 8px 10px;
}

.cta {
	display: flex;
	justify-content: center;
}

.logo {
	font-weight: 900;
	font-style: italic;
	font-size: 20px;
}

.term {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	padding-right:  10px;
}

.arrow {
	text-align: center;
	margin: 50px 0;

}

/*.arrow {
	position: absolute;
	left: 50%;
	top: 80%;
	animation-name: bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}*/

.result-container {
	display: none;
	margin: 0 10vw;
	padding-bottom: 5vh;
	position: absolute;
	top: 200px;
}

.aniview {
    animation-duration: 1s;
    animation-delay: 0s;
    transition: all 1s;
}


@keyframes bounce {
    from {top: 80%;}
    to {top: 81%;}
}

#dropdown li {
	font-size: 110px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: lightgrey;
}

#dropdown li:hover {
	color: #AC77EE;
	cursor: pointer;
}

.top {
	animation: fade-in 1s, slide 1s;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.slide {
	height: 100vh;
}

.bottom {
	background-color: #F3AE96;
	/*background-image: url("background-1.svg");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2000px 1280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bottom h1 {
}

.tool {

}

.main {
	margin: 30vh 10vw 10vh 10vw;
	/*position: relative;
	top: 16vh;*/
}

.term h1 {
	margin: 0;
}

.home {
	padding-left: 10vw;
	font-weight: 900;
	font-style: italic;
	font-size: 20px;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10vw;
}

.back {
	display: flex;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .5px;
	text-decoration: underline;
}

.two {
	position: relative;
}

.back:hover {
	color: #F3AE96;
}

.label {
	text-transform: ;
	letter-spacing: .5px; 
	color: lightgrey;
	font-size: 24px;
}

#search {

}

li.paginate:nth-of-type(3) {
	display: none;
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1;}
}

@keyframes slide {
    from {margin-left: 10vw;}
    to {margin-left: 0;}
}

@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 80px;
	}

	input {
		font-size: 80px;
	}

	#dropdown li {
		font-size: 80px;
	}

	.arrow {
		margin: 50px 0;
	}



}





