*	{
	font-family: Helvetica, sans-serif;
}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#banner {
	height: 46rem;
	background-image: url('birds.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	alogn-items: center;
	text-align: center;
}

#banner h1 {
	font-size: 3.75rem;
	font-family: 'Contrail One', cursive;
}