*	{
	font-family: Helvetica, sans-serif;
}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#banner {
	height: 46rem;
	background-image: url('birds.jpg');
}

#banner h1 {
	font-size: 3.75rem;
	font-family: 'Contrail One', cursive;
}